{% extends "base.html" %}
{% block content %}
<h2>Projects</h2>
<ul>
    <li><a href="https://github.com/BenWallner7/DDMD_Materials_Discovery" target="_blank" rel="noopener noreferrer">Machine Learning predictions of thermal properties</a></li>
    <li><a href="https://github.com/BenWallner7/FinTech_Tools" target="_blank" rel="noopener noreferrer">FinTech tools</a></li>
    <li><a href="https://github.com/BenWallner7/MACE_Protein_Modelling" target="_blank" rel="noopener noreferrer">Protein Moddelling with MACE foundation models - machine learning potentials</a></li>
    <li><a href="https://github.com/BenWallner7/MACE_Fine_Tuning" target="_blank" rel="noopener noreferrer">Modelling graphene-water systems with fine-tuned MACE models</a></li>
</ul>
{% endblock %}

{% comment %} <li><a href="https://github.com/BenWallner7/route_construction_optimisation" target="_blank" rel="noopener noreferrer">Route Construction Optimisation</a></li> {% endcomment %}
{% comment %} <li><a href="https://yourdashboard.com" target="_blank">Interactive Dashboard</a></li> {% endcomment %}